<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Exstream 9.5.307" value="C:\Packager\,Exstream_PROD_Windows_95307"/>
      <add key="Exstream 9.5.305" value="C:\Program Files (x86)\OpenText\Exstream\Exstream 9.5.305\,Exstream_PROD_Windows_95305"/>
      <add key="Exstream 9.5.201" value="C:\Program Files (x86)\Hewlett-Packard\HP Exstream\HP Exstream 9.5.201\,Exstream_PROD_905104"/>
      <add key="Exstream 8.6.107" value="C:\Users\u30c34\Documents\HPExstream\Exstream8.6\,Exstream8.6"/>
      <add key="Exstream 8.0.330" value="C:\Program Files (x86)\Hewlett-Packard\HP Exstream\HP Exstream 8.0.330\,Exstream_PROD"/>
      <add key="Exstream 16.4.5" value="E:\Exstream_Home\Exstream 16.4.5\,Exstream16.4.5"/>
    </appSettings>
</configuration>